body {

    font-family: 'Explora', cursive;
    font-weight: 300;
    font-size: 2.5rem; 
    color: beige;
}


h1,h2,p{
    text-align: center;
}
/*body{
    background-color: rgb(255, 255, 255);
}*/

section {
    background-color: rgb(117, 117, 117);
    text-align: center;
    padding: 15px;
}

.enlace {
    color: #fff;
}

.centro{
    text-align: center;
}

.pie { background-color: black;

 }

 .fondonegro { background-color: black; 

 }

 .contacto {
    background-color: rgb(50, 50, 241);
    color: #fff;
    display: flex;
    text-align: center; 
    justify-content:space-between;
    font-family: 'Explora', cursive;
    font-weight: 700;
    font-size: 2rem;
    }